@mixin buttontheme($theme: #00a0c1) {
  background: $theme;
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  outline: 0 solid #00a0c1;
  padding: 10px 36px;
  border: 0;
  display: inline-grid;
}


.btn-blue {
  @include buttontheme;
}

.btn-bordered {
  @include buttontheme($theme: rgba(255, 255, 255, 0));
  border: 5px;
  margin-left: 8px;
  color: #00a0c1;
  outline: 1px solid #00a0c1;
}


.btn-orange {
  width: 248px;
  height: 60px;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #ffa62b;
  background: #ffa62b;
  color: white;
  order: 2;
  cursor: pointer;

}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 2.5rem 0;
}

.home-inner-container {


  button.icon {
    background: #d8d8d8;
    float: right;
    display: block;
    padding: 16px 17px;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}