@import "variables";

.contact {
  &-container {
    background: url("/assets/contact-bg.png") center;
    background-size: cover;
    overflow: hidden;
  }

  &-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    gap: 50px;
  }

  &-form-container {
    @include formContainerDesign;
    padding: 0;
    background: none;

    ::placeholder{
      color: $placeholder-color;
    }

    input, select {
      padding: 3%;
    }

    .contact-message-input {
      height: 140px;
      text-align: start;
    }

    .contact-title-container {
      h5 {
        @include textDesign-darkBlue;
        font-size: 16px;
        width: 16rem;
      }

      h2 {
        @include textDesign-darkBlue;
        font-size: 40px;
        width: 16rem;
      }
    }
  }

  &-form {
    @include formDesign($gapSize: 20px);
    background: none;

    .contact-form-card-1, .contact-form-card-2 {
      @include formDesign($gapSize: 20px);
      background: none;
      order: 1;
      text-overflow: inherit;
      text-align: left;
    }

    .contact-message-input {
      background: #f9f9f9;
      box-sizing: border-box;
      height: 140px;
      width: 250px;
      padding: 5%;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      order: 2;
      resize: none;
    }
  }

  &-lower-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    line-height: 30px;

    h3 {
      @include textDesign-darkBlue;
      font-size: 24px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      @include textDesign-gray;
      font-size: 14px;
      padding-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include sm {
  .contact-main-container {
    flex-direction: column;
  }
}

@include md {
  .contact-lower-container {
    text-align: center;
  }
}

@include lg {
  .contact-main-container {
    justify-content: left;
    flex-direction: row;
    align-items: start;

    h1 {
      text-align: left;
    }
    h3 {
      text-align: left;
    }
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .contact-title-container {
      h5 {
        width: 100%;
      }
      h2 {
        width: 100%;
      }
    }
  }

  .contact-form {
    .contact-form-card-1, .contact-form-card-2 {
      flex-direction: row;
    }

    .contact-message-input {
      width: 522px;
    }
  }

  .contact-lower-container {
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;

    .contact-lower-desktop {
      text-align: left;

      h3 {
      }
      p {
        padding-bottom: 0;
      }
    }
  }

  .contact-container {
    flex-direction: column;
  }
}