@import "variables";

.footer {
  padding: 0 30px;
  background: #252B42;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-upper-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    h3 {
      color: white;
    }

    .footer-social-icons {
      padding: 40px 0;
      @include socialIcons();

      .fa-square-facebook {
        color: #335BF5;
      }

      .fa-instagram {
        color: #E51F5A
      }

      .fa-twitter {
        color: #21A6DF
      }

      .fa-youtube {
        color: #E42F08
      }
    }
  }

  &-middle-container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 0;

    .footer-info {
      display: flex;
      flex-direction: column;
      line-height: 30px;
      padding: 20px 0;

      h5 {
        font-size: 16px;
        font-weight: 700;
        padding: 0 0 10px 0;
      }

      a {
        @include link();
        color: white;
        font-weight: 500;
      }
    }

    .footer-get-in-touch {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      padding: 20px 0;

      h5 {
        font-size: 16px;
        font-weight: 700;
        padding: 0 0 10px 0;
      }

      .input-group {
        display: flex;
        flex-direction: row;
        padding: 10px 0 5px 0;

        input {
          border: 0;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          padding: 15px;
        }

        button {
          background: #ffa62b;
          color: white;
          cursor: pointer;
          padding: 5px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          border: 0;
        }
      }

      p {
        padding-top: 5px;
        font-size: 12px;
      }
    }
  }
}

#footer-section {
  background: #16697A;
}

.footer-lower-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px 45px;

  h6 {
    font-size: 14px;
    color: white;
  }
}

@include lg {
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer-upper-container {
    border-bottom: 1px solid #364067;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-middle-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #footer-section {
    display: flex;
    justify-content: flex-start;

    .footer-lower-container {
      margin: 0 auto;
      flex-direction: row;
      justify-content: flex-start;
      padding: 30px 0;
    }
  }
}
