@import 'variables';

.form-container {
  @include formContainerDesign;
  input, select{
    color: $secondary-color;
    padding: 5%;
  }
  h3 {
    padding-top: 5%;
    color: black;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 5%;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.form {
  @include formDesign(15px);
}
