@import "variables";

.form-container {
  @include formContainerDesign;
  input, select{
    padding: 5%;
  }
  h3 {
    padding-top: 5%;
    color: black;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 5%;
  }

}

.form {
  @include formDesign;
}