@import "variables";


header {
  z-index: 1;
  margin: 0 auto;
  position: relative;
  padding: 20px 20px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;

  a {
    color: #252B42;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
  }
}


.home-main-container {
  background: url("/assets/background.png");
  background-size: cover;
  background-position: center;

}

#home {
  padding: 0 30px;
  height: 100%;

}


.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  gap: 50px;
}

.home-item-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

  flex: 1 1 auto;
  width: 100%;


  h1 {
    font-size: 46px;
    color: #252B42;
    text-align: center;
    font-weight: 750;
    font-family: $primary-font-family;
  }

  h3 {
    font-size: 21px;
    text-align: center;
    @include textDesign;
    padding-top: 2.5rem;
  }
}

@include sm {

}

@include md {
  header {

    a {
      color: #252B42;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
    }
  }


  .home-container {
    max-width: 100%;
    height: 100%;
  }


  .home-item-container {


    h1 {
      font-weight: 800;
      font-size: 58px;
      color: #252b42;
      display: flex;
    }

    h3 {
      padding-top: 5%;
      color: #737373;
      font-size: 24px;
      font-weight: 100;
      padding-bottom: 5%;
    }

  }


}

@include lg {
  .home-item-container {
justify-content: left;
    h1 {
      text-align: left;
    }

    h3 {
      text-align: left;
    }

  }

  .home-inner-container {
    max-width: 80%;
  }

  .home-container {
    max-width: 80%;
    flex-direction: row;
    height: 100%;

  }

  .home-buttons {
    display: flex;
    flex-direction: row;
  }
}

@include xl {

  .home-item-container {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: start;
    width: 100%;
  }

  .home-inner-container {
    max-width: 70%;
  }

  .home-container {
    max-width: 80%;
    height: 100vh;

  }
}