@import "variables";

.meet-our-team {
  padding: 30px 30px 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &-container {
    display: flex;
    flex-direction: column;
  }

  &-title-container {
    padding: 40px 0;
  }

  &-card-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-basis: 32%;

    .meet-our-team-card {
      border: 1px solid lightgrey;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 30px;
      width: 260px;
      height: 320px;
      flex-basis: 32%;

      h5 {
        @include textDesign-darkBlue;
        font-size: 18px;
      }

      h6 {
        font-size: 14px;
        @include textDesign-gray;
      }

      .meet-our-team-image {
        padding-bottom: 20px;
        //object-fit: contain;
        object-fit: cover;
        width: 100%;
        height: auto;
      }

      .meet-our-team-social-icons {
        padding-bottom: 15px;
        color: #00A0C1;
        font-size: 25px;
        word-spacing: 10px;
      }
    }
  }
}

@include sm {
  .meet-our-team-card-container {
    .meet-our-team-card {
      width: 328px;
      height: 373px;
    }
  }
}

@include lg {
  .meet-our-team-card-container {
    flex-direction: row;
    gap: 0;

    .meet-our-team-card {
      width: auto;
      height: auto;

      .meet-our-team-image {
        width: 100%;
      }
    }
  }
}
