@mixin navbarTheme() {
  list-style: none;
  display: inline-block;
  margin: 20px;

  a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.navbar a:not(none) {
  display: none;
}

.navbarDesktop a:not(none) {
  display: none;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-family: system-ui;
    font-size: 40px;
    font-weight: 200;


  }
}


.home-inner-container {
  max-width: 85%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-evenly;


  .nav-menu-outer {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    .title {
      display: flex;
      font-size: 25px;
      align-items: flex-start;
      font-family: system-ui;
      flex-flow: row nowrap;
    }


    .nav-menu {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      justify-content: flex-end;
      order: 3;
      flex: 0 1 auto;

      .fa {
        color: gray;
        font-size: 25px;
      }

    }


  }

}

.toggleHamburger {
  position: absolute;
  right: 20px;
  top: 32px;
  color: gray;
  font-size: 25px;
}


.navbar.responsive {
  position: relative;
  padding: 5rem 0;

  a {
    float: none;
    display: flex;
    align-items: center
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}

.headerToggle.responsive {
  background-color: white;
}


@media (min-width: 600px) {

  .navbarDesktop {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      float: left;
      display: block;
      color: gray;
      text-align: center;
      padding: 13px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    a:not(none) {
      display: flex;
    }
  }

  .navbar.responsive {
    display: none;

  }

  .headerToggle.responsive {
    background-color: transparent;
  }


}