@import "form", "navbar", "buttons", "homeScreen", "whyChooseUs";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

div, section, span, ul, li, a, header {
  box-sizing: border-box;
}


