@import "form", "navbar", "buttons", "homeScreen", "whyChooseUs", "variables", "videoEmbedding",
"testimonials", "meetOurTeam", "contact","footer";


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

div, section, span, ul, li, a, header {
  box-sizing: border-box;
}

.why-choose-us-title-container, .video-embedding-title-container, .testimonials-title-container,.meet-our-team-title-container {
  h2 {
    @include sectionTitle;
  }

  p {
    @include sectionParagraph;
  }
}


.card-item-1, .card-item-2, .card-item-3, .testimonials-card-1, .testimonials-card-2, .testimonials-card-3 {
  h6 {
    @include card-h6;
  }

  a {
    @include link;
  }

}