@import "variables";

.testimonials {
  padding: 30px 30px 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;

  &-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-title-container {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .testimonials-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      line-height: 28px;
      border-radius: 5px;
      border: 1px solid lightgrey;
      padding: 20px 20px 20px 30px;
      background: white;
      width: 260px;
      height: 244px;
      flex-basis: 32%;

      .testimonials-card-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        width: 100%;

        .testimonials-h6 {
          padding: 20px 0;
          @include card-h6;
        }

        ul {
          color: #F3CD03;
          list-style: none;
        }

        .testimonials-profile-container {
          display: flex;
          gap: 20px;
          flex-flow: row wrap;
          align-items: center;

          img {
            border-radius: 50%;
            border: 1px solid gray;
            display: flex;
            max-width: 50px;
          }

          .testimonials-profile {

            a {
              @include link;
            }

            h6 {
              font-size: 14px;
              @include textDesign-darkBlue;
            }
          }
        }
      }
    }
  }
}

@include sm {
  .testimonials-card-container {
    .testimonials-card {
      width: 327px;
      height: 244px;
    }
  }
}

@include lg {
  .testimonials-card-container {
    flex-direction: row;
    gap: 0;

    .testimonials-card {
      width: auto;
      height: auto;
    }
  }
}
