
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1440px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin buttontheme($theme: #00a0c1) {
  background: $theme;
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  outline: 0 solid #00a0c1;
  padding: 10px 36px;
  border: 0;
  display: inline-grid;
}



@mixin sectionTitle() {
  font-size: 44px;
  color: #252B42;
  text-align: center;
  font-weight: 750;
  font-family: $primary-font-family;
  padding: 0 35px;
}

@mixin sectionParagraph() {
  text-align: center;
  @include textDesign-gray;
  padding: 20px 45px;
}

@mixin textDesign-darkBlue{
  color: #252B42;
  font-family: $primary-font-family;
}

@mixin textDesign-gray() {
  color: #737373;
  font-family: $primary-font-family;
}

$primary-font-family: system-ui;


@mixin link($color: #ffa62b) {
  font-family: $primary-font-family;
  color: $color;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

@mixin card-h6() {
  @include textDesign-gray;
  font-size: 14px;
  font-weight: 500;
}

@mixin testimonialCards() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px 0 20px 30px;
  background: white;

  ul {
    color: #F3CD03;
  }
}


@mixin formDesign($gapSize: 5px){
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gapSize;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
  height: 100%;
  background: #ffffff;
  border-radius: 1px;
  flex: 1;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}



@mixin formContainerDesign(){
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 40px;
  background: #ffffff;
  border-radius: 10px;
  flex: none;

  input, select {
    background: #f9f9f9;
    box-sizing: border-box;
    min-height: 0;
    width: 250px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }
}

@mixin socialIcons($color: #00A0C1){
  padding-bottom: 15px;
  color: $color;
  font-size: 24px;
  word-spacing: 10px;
}