#video-embedding {
  background: linear-gradient(180deg, #F3F3F3 55%, #16697A 45%);
  padding: 50px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.video-embedding-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.video-embedding-video-container {
  position: relative;
  aspect-ratio: auto 3/4;
  display: flex;
  overflow: hidden;
  padding: 40px 0 10px 0;

}

.video-embedding-video-container video {
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;

}

@include sm{

}

@include md {
  #video-embedding {
    height: 100%;
    background: linear-gradient(180deg, #F3F3F3 50vh, #16697A 50vh);
  }

  .video-embedding-container {
    min-width: 70%;
  }


  .video-embedding-video-container {
    aspect-ratio: auto;
    overflow: visible;
  }
}

@include lg {
  #video-embedding {
    height: 100%;
  }

  .video-embedding-container {
    max-width: 80%;

  }
}

@include xl {
  #video-embedding {
    height: 100vh;
  }

  .video-embedding-container {
    max-width: 70%;
  }
}
