@import "variables";

.why-choose-us {
  padding: 30px 30px 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-title-container {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .card-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 28px;
      background-color: #D9EDFF;
      border-radius: 10px;
      width: 260px;
      height: 340px;
      flex-basis: 32%;

      &-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        gap: 15px;

        h5 {
          color: #252B42;
          font-size: 16px;
          padding: 50px 0;
        }

        i {
          padding: 10px;
          width: 40px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
          line-height: 40px;
          color: $primary-color;
          font-size: 25px;
          background: white;
          border-radius: 50%;
        }
      }

      &-body {
        background-color: white;
        padding: 20px 40px;
        border-radius: 10px;
        border: 1px solid #A9D6FF;
        width: 100%;

        h6 {
          font-size: 14px;
          color: $secondary-color;
        }
      }

      a {
        @include link;
      }
    }
  }
}

@include sm {
  .why-choose-us-card-container {
    .card-item {
      width: 328px;
      height: 389px;
    }
  }
}

@include lg {
  .why-choose-us-card-container {
    flex-direction: row;
    gap: 0;

    .card-item {
      width: auto;
      height: auto;

      .card-item-body {
        height: auto;
      }
    }
  }
}



